*.pyc
datasets
rainfall/
ipfs
local/
precipitation/
local/
climate
!climate/fetch-server-file.php
!climate/status.php
csv/
prism_data/data/
tmp/
backup/
bin
lib
pip-selfcheck.json
pyvenv.cfg
lib64
share/
include
.ackrc
*.swp
__pycache__/
tests/local_*/
tests/etc/local_*/
tests/etc/heads.json
tests/*.log
tests/dask-worker-space/
tests/intermediate/
tests/logging/
tests/performance_report_*
tests/*_zarr.json
static/STAC_Master_Catalog.json
*.json
*.log
*.html
UnixImageIO
dask-worker-space/
*.idx
.python-version
.venv
images/
