*.pyc
datasets
climate
*.swp
__pycache__/
tests/local_*/
tests/etc/local_*/
tests/etc/heads.json
tests/*.log
tests/dask-worker-space/
tests/intermediate/
tests/logging/
tests/performance_report_*
tests/*_zarr.json
static/STAC_Master_Catalog.json
*.json
*.log
*.html
dask-worker-space/
*.idx
.python-version
gridded_etl_tools/_version.py
gridded_etl_tools.egg-info/
