# Python
*.pyc
__pycache__/
.python-version
gridded_etl_tools/_version.py
gridded_etl_tools.egg-info/

# Python virtual env
bin/
lib/
lib64
pyvenv.cfg
share/
.venv

# Climate data
datasets
climate
temp/
*.json
static/STAC_Master_Catalog.json
dask-worker-space/
*.html
*.idx

# Editor/IDE
*.swp
.vscode
.flake8
mypy.ini

# Tests temp data
temp/*
tests/local_*/
tests/etc/local_*/
tests/*.log
tests/metadata/
tests/dask-worker-space/
tests/intermediate/
tests/logging/
tests/performance_report_*
tests/*_zarr.json
.coverage
.coverage.*
.nox/

# Logs
logs/
*.log

# Mac stuff
*.DS_STORE*
