# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    if: ${{ !github.event.pull_request.draft }}
    runs-on: ubuntu-latest

    steps:
    - name: Install IPFS
      uses: ibnesayeed/setup-ipfs@master
      with:
        ipfs_version: "0.19.2"
        run_daemon: true
      id: ipfs_setup

    - name: Install external dependencies via APT
      run: sudo apt-get update && sudo apt-get install cdo netcdf-bin

    - name: Check out repo
      uses: actions/checkout@v2

    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"

    - name: Set up Python 3.11
      uses: actions/setup-python@v3
      with:
        python-version: "3.11"

    - name: Cache reusable files
      uses: actions/cache@v2
      with:
        path: |
          ~/.cache/pip/
        key: ${{ runner.os }}-dependencies

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .\[testing,dev]

    - name: Run nox
      run: |
        nox
